// Pin configuration for the Seeed Studio Runber FPGA board.
// See RUNBER_Development_Board_Hardware_Instructions_en.pdf for pin values
// Note the the reference manual counts from 1 and here we count from 0.

IO_LOC "BRDIO[ 0]"   4; IO_PORT "BRDIO[ 0]" PULL_MODE=NONE; // CLK 12 MHz
IO_LOC "BRDIO[ 1]" 136; IO_PORT "BRDIO[ 1]" PULL_MODE=UP;   // Tx
IO_LOC "BRDIO[ 2]" 135; IO_PORT "BRDIO[ 2]" PULL_MODE=NONE; // Rx
IO_LOC "BRDIO[ 3]" 137; IO_PORT "BRDIO[ 3]" PULL_MODE=NONE; // Leftmost digit
IO_LOC "BRDIO[ 4]" 140; IO_PORT "BRDIO[ 4]" PULL_MODE=NONE; // Digit 1
IO_LOC "BRDIO[ 5]" 141; IO_PORT "BRDIO[ 5]" PULL_MODE=NONE; // Digit 2
IO_LOC "BRDIO[ 6]"   7; IO_PORT "BRDIO[ 6]" PULL_MODE=NONE; // Digit 3
IO_LOC "BRDIO[ 7]" 138; IO_PORT "BRDIO[ 7]" PULL_MODE=NONE; // Segment A
IO_LOC "BRDIO[ 8]" 142; IO_PORT "BRDIO[ 8]" PULL_MODE=NONE; // Segment B
IO_LOC "BRDIO[ 9]"   9; IO_PORT "BRDIO[ 9]" PULL_MODE=NONE; // Segment C
IO_LOC "BRDIO[10]"  11; IO_PORT "BRDIO[10]" PULL_MODE=NONE; // Segment D
IO_LOC "BRDIO[11]"  12; IO_PORT "BRDIO[11]" PULL_MODE=NONE; // Segment E
IO_LOC "BRDIO[12]" 139; IO_PORT "BRDIO[12]" PULL_MODE=NONE; // Segment F
IO_LOC "BRDIO[13]"   8; IO_PORT "BRDIO[13]" PULL_MODE=NONE; // Segment G
IO_LOC "BRDIO[14]"  10; IO_PORT "BRDIO[14]" PULL_MODE=NONE; // Segment DP
IO_LOC "BRDIO[15]"  23; IO_PORT "BRDIO[15]" PULL_MODE=NONE; // LED 0
IO_LOC "BRDIO[16]"  24; IO_PORT "BRDIO[16]" PULL_MODE=NONE; // LED 1
IO_LOC "BRDIO[17]"  25; IO_PORT "BRDIO[17]" PULL_MODE=NONE; // LED 2
IO_LOC "BRDIO[18]"  26; IO_PORT "BRDIO[18]" PULL_MODE=NONE; // LED 3
IO_LOC "BRDIO[19]"  27; IO_PORT "BRDIO[19]" PULL_MODE=NONE; // LED 4
IO_LOC "BRDIO[20]"  28; IO_PORT "BRDIO[20]" PULL_MODE=NONE; // LED 5
IO_LOC "BRDIO[21]"  29; IO_PORT "BRDIO[21]" PULL_MODE=NONE; // LED 6
IO_LOC "BRDIO[22]"  30; IO_PORT "BRDIO[22]" PULL_MODE=NONE; // LED 7
IO_LOC "BRDIO[23]" 112; IO_PORT "BRDIO[23]" PULL_MODE=NONE; // RGB0 Red
IO_LOC "BRDIO[24]" 106; IO_PORT "BRDIO[24]" PULL_MODE=NONE; // RGB1 Red
IO_LOC "BRDIO[25]" 101; IO_PORT "BRDIO[25]" PULL_MODE=NONE; // RGB2 Red
IO_LOC "BRDIO[26]"  98; IO_PORT "BRDIO[26]" PULL_MODE=NONE; // RGB3 Red
IO_LOC "BRDIO[27]" 114; IO_PORT "BRDIO[27]" PULL_MODE=NONE; // RGB0 Green
IO_LOC "BRDIO[28]" 111; IO_PORT "BRDIO[28]" PULL_MODE=NONE; // RGB1 Green
IO_LOC "BRDIO[29]" 104; IO_PORT "BRDIO[29]" PULL_MODE=NONE; // RGB2 Green
IO_LOC "BRDIO[30]" 100; IO_PORT "BRDIO[30]" PULL_MODE=NONE; // RGB3 Green
IO_LOC "BRDIO[31]" 113; IO_PORT "BRDIO[31]" PULL_MODE=NONE; // RGB0 Blue
IO_LOC "BRDIO[32]" 110; IO_PORT "BRDIO[32]" PULL_MODE=NONE; // RGB1 Blue
IO_LOC "BRDIO[33]" 102; IO_PORT "BRDIO[33]" PULL_MODE=NONE; // RGB2 Blue
IO_LOC "BRDIO[34]"  99; IO_PORT "BRDIO[34]" PULL_MODE=NONE; // RGB3 Blue
IO_LOC "BRDIO[35]"  75; IO_PORT "BRDIO[35]" PULL_MODE=NONE; // Switch 0
IO_LOC "BRDIO[36]"  76; IO_PORT "BRDIO[36]" PULL_MODE=NONE; // Switch 1
IO_LOC "BRDIO[37]"  78; IO_PORT "BRDIO[37]" PULL_MODE=NONE; // Switch 2
IO_LOC "BRDIO[38]"  79; IO_PORT "BRDIO[38]" PULL_MODE=NONE; // Switch 3
IO_LOC "BRDIO[39]"  80; IO_PORT "BRDIO[39]" PULL_MODE=NONE; // Switch 4
IO_LOC "BRDIO[40]"  81; IO_PORT "BRDIO[40]" PULL_MODE=NONE; // Switch 5
IO_LOC "BRDIO[41]"  82; IO_PORT "BRDIO[41]" PULL_MODE=NONE; // Switch 6
IO_LOC "BRDIO[42]"  83; IO_PORT "BRDIO[42]" PULL_MODE=NONE; // Switch 7
IO_LOC "BRDIO[43]"  58; IO_PORT "BRDIO[43]" PULL_MODE=NONE; // Button 0
IO_LOC "BRDIO[44]"  59; IO_PORT "BRDIO[44]" PULL_MODE=NONE; // Button 1
IO_LOC "BRDIO[45]"  60; IO_PORT "BRDIO[45]" PULL_MODE=NONE; // Button 2
IO_LOC "BRDIO[46]"  61; IO_PORT "BRDIO[46]" PULL_MODE=NONE; // Button 3
IO_LOC "BRDIO[47]"  62; IO_PORT "BRDIO[47]" PULL_MODE=NONE; // Button 4
IO_LOC "BRDIO[48]"  63; IO_PORT "BRDIO[48]" PULL_MODE=NONE; // Button 5
IO_LOC "BRDIO[49]"  64; IO_PORT "BRDIO[49]" PULL_MODE=NONE; // Button 6
IO_LOC "BRDIO[50]"  65; IO_PORT "BRDIO[50]" PULL_MODE=NONE; // Button 7


// With the USB connector on the left, the port numbering goes from
// lower left (J1) counterclockwise to the top left.

IO_LOC "PCPIN[ 0]"  38; IO_PORT "PCPIN[ 0]" PULL_MODE=UP; // J1 pin 2
IO_LOC "PCPIN[ 1]"  39; IO_PORT "PCPIN[ 1]" PULL_MODE=UP; // |
IO_LOC "PCPIN[ 2]"  40; IO_PORT "PCPIN[ 2]" PULL_MODE=UP; // | slot 0
IO_LOC "PCPIN[ 3]"  41; IO_PORT "PCPIN[ 3]" PULL_MODE=UP; // -
IO_LOC "PCPIN[ 4]"  42; IO_PORT "PCPIN[ 4]" PULL_MODE=UP; // -
IO_LOC "PCPIN[ 5]"  43; IO_PORT "PCPIN[ 5]" PULL_MODE=UP; // | slot 1
IO_LOC "PCPIN[ 6]"  44; IO_PORT "PCPIN[ 6]" PULL_MODE=UP; // |
IO_LOC "PCPIN[ 7]"  66; IO_PORT "PCPIN[ 7]" PULL_MODE=UP; // -
IO_LOC "PCPIN[ 8]"  67; IO_PORT "PCPIN[ 8]" PULL_MODE=UP; // -
IO_LOC "PCPIN[ 9]"  68; IO_PORT "PCPIN[ 9]" PULL_MODE=UP; // | slot2
IO_LOC "PCPIN[10]"  69; IO_PORT "PCPIN[10]" PULL_MODE=UP; // |
IO_LOC "PCPIN[11]"  70; IO_PORT "PCPIN[11]" PULL_MODE=UP; // -
IO_LOC "PCPIN[12]"  71; IO_PORT "PCPIN[12]" PULL_MODE=UP; // -
IO_LOC "PCPIN[13]"  72; IO_PORT "PCPIN[13]" PULL_MODE=UP; // | slot3
IO_LOC "PCPIN[14]"  96; IO_PORT "PCPIN[14]" PULL_MODE=UP; // |
IO_LOC "PCPIN[15]"  95; IO_PORT "PCPIN[15]" PULL_MODE=UP; // -
IO_LOC "PCPIN[16]"  94; IO_PORT "PCPIN[16]" PULL_MODE=UP; // - slot4
IO_LOC "PCPIN[17]"  93; IO_PORT "PCPIN[17]" PULL_MODE=UP; // J1 pin 19
IO_LOC "PCPIN[18]" 115; IO_PORT "PCPIN[18]" PULL_MODE=UP; // J2 pin 19
IO_LOC "PCPIN[19]" 116; IO_PORT "PCPIN[19]" PULL_MODE=UP; // -
IO_LOC "PCPIN[20]" 117; IO_PORT "PCPIN[20]" PULL_MODE=UP; // -
IO_LOC "PCPIN[21]" 118; IO_PORT "PCPIN[21]" PULL_MODE=UP; // | slot 5
IO_LOC "PCPIN[22]" 119; IO_PORT "PCPIN[22]" PULL_MODE=UP; // |
IO_LOC "PCPIN[23]" 120; IO_PORT "PCPIN[23]" PULL_MODE=UP; // -
IO_LOC "PCPIN[24]" 121; IO_PORT "PCPIN[24]" PULL_MODE=UP; // -
IO_LOC "PCPIN[25]" 122; IO_PORT "PCPIN[25]" PULL_MODE=UP; // | slot 6
IO_LOC "PCPIN[26]" 123; IO_PORT "PCPIN[26]" PULL_MODE=UP; // |
IO_LOC "PCPIN[27]" 128; IO_PORT "PCPIN[27]" PULL_MODE=UP; // -
IO_LOC "PCPIN[28]" 129; IO_PORT "PCPIN[28]" PULL_MODE=UP; // -
IO_LOC "PCPIN[29]" 130; IO_PORT "PCPIN[29]" PULL_MODE=UP; // | slot 7
IO_LOC "PCPIN[30]" 131; IO_PORT "PCPIN[30]" PULL_MODE=UP; // |
IO_LOC "PCPIN[31]" 132; IO_PORT "PCPIN[31]" PULL_MODE=UP; // -
IO_LOC "PCPIN[32]" 133; IO_PORT "PCPIN[32]" PULL_MODE=UP; // | slot 8 (only 2 pins)
IO_LOC "PCPIN[33]" 134; IO_PORT "PCPIN[33]" PULL_MODE=UP; // J2 pin 4


