BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "rst_n_in" SITE "N14" ;  # unused
LOCATE COMP BRDIO[0]  SITE "C1" ;    # "clk_in"
LOCATE COMP BRDIO[1]  SITE "C8" ;    # Tx to host
LOCATE COMP BRDIO[2]  SITE "B8" ;    # Rx from host
LOCATE COMP BRDIO[3]  SITE "M3" ;    # "Color_led_1[0]"
LOCATE COMP BRDIO[4]  SITE "N3" ;    # "Color_led_1[1]"
LOCATE COMP BRDIO[5]  SITE "P4" ;    # "Color_led_1[2]"
LOCATE COMP BRDIO[6]  SITE "M2" ;    # "Color_led_2[0]"
LOCATE COMP BRDIO[7]  SITE "N2" ;    # "Color_led_2[1]"
LOCATE COMP BRDIO[8]  SITE "P2" ;    # "Color_led_2[2]"
LOCATE COMP BRDIO[9]  SITE "A10" ;   # "Segment_led_1[0]"
LOCATE COMP BRDIO[10] SITE "C11" ;   # "Segment_led_1[1]"
LOCATE COMP BRDIO[11] SITE "F2" ;    # "Segment_led_1[2]"
LOCATE COMP BRDIO[12] SITE "E1" ;    # "Segment_led_1[3]"
LOCATE COMP BRDIO[13] SITE "E2" ;    # "Segment_led_1[4]"
LOCATE COMP BRDIO[14] SITE "A9" ;    # "Segment_led_1[5]"
LOCATE COMP BRDIO[15] SITE "B9" ;    # "Segment_led_1[6]"
LOCATE COMP BRDIO[16] SITE "F1" ;    # "Segment_led_1[7]"
LOCATE COMP BRDIO[17] SITE "C9" ;    # "Segment_led_1[8]"
LOCATE COMP BRDIO[18] SITE "C12" ;   # "Segment_led_2[0]"
LOCATE COMP BRDIO[19] SITE "B14" ;   # "Segment_led_2[1]"
LOCATE COMP BRDIO[20] SITE "J1" ;    # "Segment_led_2[2]"
LOCATE COMP BRDIO[21] SITE "H1" ;    # "Segment_led_2[3]"
LOCATE COMP BRDIO[22] SITE "H2" ;    # "Segment_led_2[4]"
LOCATE COMP BRDIO[23] SITE "B12" ;   # "Segment_led_2[5]"
LOCATE COMP BRDIO[24] SITE "A11" ;   # "Segment_led_2[6]"
LOCATE COMP BRDIO[25] SITE "K1" ;    # "Segment_led_2[7]"
LOCATE COMP BRDIO[26] SITE "A12" ;   # "Segment_led_2[8]"
LOCATE COMP BRDIO[27] SITE "N13" ;   # "Water_led[0]"
LOCATE COMP BRDIO[28] SITE "M12" ;   # "Water_led[1]"
LOCATE COMP BRDIO[29] SITE "P12" ;   # "Water_led[2]"
LOCATE COMP BRDIO[30] SITE "M11" ;   # "Water_led[3]"
LOCATE COMP BRDIO[31] SITE "P11" ;   # "Water_led[4]"
LOCATE COMP BRDIO[32] SITE "N10" ;   # "Water_led[5]"
LOCATE COMP BRDIO[33] SITE "N9" ;    # "Water_led[6]"
LOCATE COMP BRDIO[34] SITE "P9" ;    # "Water_led[7]"
LOCATE COMP BRDIO[35] SITE "M7" ;    # "SW[0]"
LOCATE COMP BRDIO[36] SITE "M8" ;    # "SW[1]"
LOCATE COMP BRDIO[37] SITE "M9" ;    # "SW[2]"
LOCATE COMP BRDIO[38] SITE "M10" ;   # "SW[3]"
LOCATE COMP BRDIO[39] SITE "L14" ;   # "BTN[0]"
LOCATE COMP BRDIO[40] SITE "M13" ;   # "BTN[1]"
LOCATE COMP BRDIO[41] SITE "M14" ;   # "BTN[2]"

LOCATE COMP PCPIN[0]  SITE "E3" ;    # Pin  0   # Slot 1 LSB
LOCATE COMP PCPIN[1]  SITE "F3" ;    # Pin  1   # Slot 1
LOCATE COMP PCPIN[2]  SITE "G3" ;    # Pin  2   # Slot 1
LOCATE COMP PCPIN[3]  SITE "H3" ;    # Pin  3   # Slot 1
LOCATE COMP PCPIN[4]  SITE "J2" ;    # Pin  4   # Slot 2 LSB
LOCATE COMP PCPIN[5]  SITE "J3" ;    # Pin  5   # Slot 2
LOCATE COMP PCPIN[6]  SITE "K2" ;    # Pin  6   # Slot 2
LOCATE COMP PCPIN[7]  SITE "K3" ;    # Pin  7   # Slot 2
LOCATE COMP PCPIN[8]  SITE "L3" ;    # Pin  8   # Slot 3 LSB
LOCATE COMP PCPIN[9]  SITE "N5" ;    # Pin  9   # Slot 3
LOCATE COMP PCPIN[10] SITE "P6" ;    # Pin 10   # Slot 3
LOCATE COMP PCPIN[11] SITE "N6" ;    # Pin 11   # Slot 3
LOCATE COMP PCPIN[12] SITE "P7" ;    # Pin 12   # Slot 4 LSB
LOCATE COMP PCPIN[13] SITE "N7" ;    # Pin 13   # Slot 4
LOCATE COMP PCPIN[14] SITE "P8" ;    # Pin 14   # Slot 4
LOCATE COMP PCPIN[15] SITE "N8" ;    # Pin 15   # Slot 4
LOCATE COMP PCPIN[16] SITE "P13" ;   # SI       # Slot 5 LSB
LOCATE COMP PCPIN[17] SITE "N4" ;    # SO       # Slot 5
LOCATE COMP PCPIN[18] SITE "M4" ;    # SCK      # Slot 5
LOCATE COMP PCPIN[19] SITE "P3" ;    # CS       # Slot 5
LOCATE COMP PCPIN[20] SITE "J12" ;   # Pin 16   # Slot 6 LSB
LOCATE COMP PCPIN[21] SITE "K13" ;   # Pin 17   # Slot 6
LOCATE COMP PCPIN[22] SITE "K14" ;   # Pin 18   # Slot 6
LOCATE COMP PCPIN[23] SITE "K12" ;   # Pin 19   # Slot 6
LOCATE COMP PCPIN[24] SITE "J14" ;   # Pin 20   # Slot 7 LSB
LOCATE COMP PCPIN[25] SITE "J13" ;   # Pin 21   # Slot 7
LOCATE COMP PCPIN[26] SITE "H12" ;   # Pin 22   # Slot 7
LOCATE COMP PCPIN[27] SITE "G14" ;   # Pin 23   # Slot 7
LOCATE COMP PCPIN[28] SITE "G13" ;   # Pin 24   # Slot 8 LSB
LOCATE COMP PCPIN[29] SITE "F14" ;   # Pin 25   # Slot 8
LOCATE COMP PCPIN[30] SITE "F13" ;   # Pin 26   # Slot 8
LOCATE COMP PCPIN[31] SITE "G12" ;   # Pin 27   # Slot 8
LOCATE COMP PCPIN[32] SITE "F12" ;   # Pin 28   # Slot 9 LSB
LOCATE COMP PCPIN[33] SITE "E12" ;   # Pin 29   # Slot 9
