// PeriCtrl pin assignments for the TangPromer25K board.

IO_LOC "BRDIO[ 0]"  E2; IO_PORT  "BRDIO[ 0]" PULL_MODE=NONE DRIVE=OFF; // 50 MHz clk
IO_LOC "BRDIO[ 1]"  B3; IO_PORT  "BRDIO[ 1]" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;  // RX
IO_LOC "BRDIO[ 2]"  G2; IO_PORT  "BRDIO[ 2]" PULL_MODE=NONE BANK_VCCIO=3.3;  // AUX_RX
IO_LOC "BRDIO[ 3]"  C3; IO_PORT  "BRDIO[ 3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;  // TX
IO_LOC "BRDIO[ 4]"  L4; IO_PORT  "BRDIO[ 4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;  // AUX_TX
IO_LOC "BRDIO[ 5]"  D7; IO_PORT  "BRDIO[ 5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;  // Done LED
IO_LOC "BRDIO[ 6]"  E8; IO_PORT  "BRDIO[ 6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;  // Ready LED
IO_LOC "BRDIO[ 7]"  H10; IO_PORT "BRDIO[ 7]" PULL_MODE=DOWN BANK_VCCIO=3.3; // S2
IO_LOC "BRDIO[ 8]"  H11; IO_PORT "BRDIO[ 8]" PULL_MODE=DOWN BANK_VCCIO=3.3; // S1
IO_LOC "BRDIO[ 9]"  L6; IO_PORT  "BRDIO[ 9]" PULL_MODE=NONE BANK_VCCIO=3.3;  // USBA_P
IO_LOC "BRDIO[10]"  K6; IO_PORT  "BRDIO[10]" PULL_MODE=NONE BANK_VCCIO=3.3;  // USBA_N


IO_LOC "PCPIN[ 0]"  F5; // J6 top
IO_LOC "PCPIN[ 1]"  G7;
IO_LOC "PCPIN[ 2]"  H8;
IO_LOC "PCPIN[ 3]"  H5;
IO_LOC "PCPIN[ 4]"  G5; // J6 bottom
IO_LOC "PCPIN[ 5]"  G8;
IO_LOC "PCPIN[ 6]"  H7;
IO_LOC "PCPIN[ 7]"  J5;
IO_LOC "PCPIN[ 8]" A11; // J5 top
IO_LOC "PCPIN[ 9]" E11;
IO_LOC "PCPIN[10]" K11;
IO_LOC "PCPIN[11]"  L5;
IO_LOC "PCPIN[12]" A10; // J5 bottom
IO_LOC "PCPIN[13]" E10;
IO_LOC "PCPIN[14]" L11;
IO_LOC "PCPIN[15]"  K5;
IO_LOC "PCPIN[16]" G11; // J4 top
IO_LOC "PCPIN[17]" D11;
IO_LOC "PCPIN[18]" B11;
IO_LOC "PCPIN[19]" C11;
IO_LOC "PCPIN[20]" G10; // J4 bottom
IO_LOC "PCPIN[21]" D10;
IO_LOC "PCPIN[22]" B10;
IO_LOC "PCPIN[23]" C10;
IO_LOC "PCPIN[24]" K2;  // J3 1-4
IO_LOC "PCPIN[25]" K1;
IO_LOC "PCPIN[26]" L1;
IO_LOC "PCPIN[27]" L2;
IO_LOC "PCPIN[28]" K4;
IO_LOC "PCPIN[29]" J4;
IO_LOC "PCPIN[30]" G1;
IO_LOC "PCPIN[31]" L3;
IO_LOC "PCPIN[32]" C2;
IO_LOC "PCPIN[33]" B2;
IO_LOC "PCPIN[34]" F1;
IO_LOC "PCPIN[35]" F2;
IO_LOC "PCPIN[36]" A1;
IO_LOC "PCPIN[37]" E1;
IO_LOC "PCPIN[38]" D1;
IO_LOC "PCPIN[39]" E3;
IO_LOC "PCPIN[40]" J2;
IO_LOC "PCPIN[41]" J1;
IO_LOC "PCPIN[42]" H4; 
IO_LOC "PCPIN[43]" G4;
IO_LOC "PCPIN[44]" H2;
IO_LOC "PCPIN[45]" H1;
IO_LOC "PCPIN[46]" J7;
IO_LOC "PCPIN[47]" K7;
IO_LOC "PCPIN[48]" L8;
IO_LOC "PCPIN[49]" L7;
IO_LOC "PCPIN[50]" K10;
IO_LOC "PCPIN[51]" L10;
IO_LOC "PCPIN[52]" K9;
IO_LOC "PCPIN[53]" L9;
IO_LOC "PCPIN[54]" K8;
IO_LOC "PCPIN[55]" J8;
IO_LOC "PCPIN[56]" F6;
IO_LOC "PCPIN[57]" F7;
IO_LOC "PCPIN[58]" J10;
IO_LOC "PCPIN[59]" J11;



IO_PORT "PCPIN[ 0]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[ 1]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[ 2]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[ 3]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[ 4]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[ 5]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[ 6]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[ 7]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[ 8]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[ 9]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[10]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[11]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[12]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[13]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[14]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[15]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[16]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[17]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[18]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[19]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[20]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[21]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[22]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[23]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[24]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[25]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[26]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[27]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[28]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[29]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[30]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[31]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[32]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[33]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[34]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[35]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[36]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[37]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[38]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[39]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[40]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[41]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[42]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[43]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[44]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[45]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[46]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[47]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[48]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[49]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[50]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[51]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[52]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[53]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[54]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[55]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[56]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[57]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[58]" PULL_MODE=UP  BANK_VCCIO=3.3;
IO_PORT "PCPIN[59]" PULL_MODE=UP  BANK_VCCIO=3.3;


